<%- include('header') %>
  <div class="box">
    <% newListItems.forEach((item)=> { %>
      <div class="item">
        <input type="checkbox">
        <p>
          <%= item %>
        </p>
      </div>
      <% }) %>

        <form class="form" action="/" method="post">
          <input class="new-item" type="text" name="newItem" placeholder="add new Item" autocomplete="off">
          <button type="submit" name="list" value=<%=ListTitle %>>+</button>
        </form>
  </div>

  <%- include('footer') %>